{
  "rules": {
    "@typescript-eslint/no-unused-vars": "off", // Disable 'no-unused-vars' rule
    "react/jsx-no-target-blank": "off", // Disable 'jsx-no-target-blank' rule
    "jsx-a11y/img-redundant-alt": "off" // Disable 'img-redundant-alt' rule
  }
}
